# Основы pandas

## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [72]:
ratings = pd.read_csv(r'C:\Users\PC-Home\Desktop\Data_analyst\HW-6\ml-latest-small\ratings.csv')
movies = pd.read_csv(r'C:\Users\PC-Home\Desktop\Data_analyst\HW-6\ml-latest-small\movies.csv')

joined = ratings.merge(movies, on='movieId', how='left')

best_mark = joined[joined['rating'] == 5]
best_mark['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    153
Name: title, dtype: int64

In [73]:
ratings = pd.read_csv(r'C:\Users\PC-Home\Desktop\Data_analyst\HW-6\ml-latest-small\ratings.csv')
movies = pd.read_csv(r'C:\Users\PC-Home\Desktop\Data_analyst\HW-6\ml-latest-small\movies.csv')

joined = ratings.merge(movies, on='movieId', how='left')

joined.query('rating == 5').groupby('title').count().sort_values('userId', ascending=False).head(1)

                                  userId  movieId  rating  timestamp  genres
title
Shawshank Redemption, The (1994)     153      153     153        153     153

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [4]:
data = pd.read_csv(r'C:\Users\PC-Home\Desktop\Data_analyst\HW-6\power.csv')

filtered = data[ ( 
    (data['country']=='Estonia') | 
    (data['country']=='Latvia') | 
    (data['country']=='Lithuania')
    ) & (
    (data['category'] == 4) |
    (data['category'] == 12) |
    (data['category'] == 21)
    ) & (
    (data['year'] >= 2005) |
    (data['year'] <= 2010)
    ) ]

filtered.query('quantity > 0')['quantity'].sum()

970728.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): 
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [58]:
pd.read_html('https://www.semestr.ru/ks11114')[0]

       0                                                  1
0    Год                                        Значение, %
1    NaN                                                NaN
2   2004                                              13.00
3   2005                              12.00 (13.00 → 12.00)
4   2006                         11.00 (12.0 → 11.5 → 11.0)
5   2007                       10.00 (11.00 → 10.5 → 10.00)
6   2008  13.0 (10.00 → 10.25 → 10.5 → 11.0 → 12.0 → 13.00)
7   2009  8.75 (13.0 → 12.5 → 12 → 11.5 → 11 → 10.75 → 1...
8   2010                    8.25 (8.75 → 8.5 → 8.75 → 8.25)
9   2011                     8.00 (8.25 → 8.0 → 7.75 → 8.0)
10  2012                                 8.25 (8.00 → 8.25)
11  2013                                               8.25
12  2014                   17.0 (8.25 → 9.5 → 10.5 → 17.00)
13  2015     10.5 (17.0 → 15.0 → 14.0 → 11.5 → 11.0 → 10.5)
14  2016                                 10.0 (10.5 → 10.0)
15  2017  7.5 (10.0 → 9.75 → 9.25 → 9.00 → 8.50 → 8.25 →...
16  2018                     7.75 (7.5 → 7.25 → 7.5 → 7.75)
17  2019                           7.25 (7.75 → 7.5 → 7.25)